[manifest]
version = "1.0.1"
dump_lua = true
priority = 10

# This makes sure that, if a Card got removed right before the
# "official discard", it'll stay removed after.

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "G.hand.highlighted[i].ability.discarded = true"
position = "before"
payload = "if not G.hand.highlighted[i].SEMBY_removed then"
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "draw_card(G.hand, G.discard, i*100/highlighted_count, 'down', false, G.hand.highlighted[i])"
position = "after"
payload = "end"
match_indent = true
