[manifest]
version = "1.0.0"
dump_lua = true
priority = 10

# [Global] - Percentage Based Blind-Scaling

[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = "self.chips = get_blind_amount(G.GAME.round_resets.ante)*self.mult*G.GAME.starting_params.ante_scaling"
position = "after"
payload = '''
if G.GAME.SEMBY_blind_mod and G.GAME.SEMBY_blind_mod ~= 1.0 then
	self.chips = math.max(0, math.floor(self.chips * G.GAME.SEMBY_blind_mod + 0.5))
end
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "local blind_amt = get_blind_amount(G.GAME.round_resets.blind_ante)*blind_choice.config.mult*G.GAME.starting_params.ante_scaling"
position = "after"
payload = '''
if G.GAME.SEMBY_blind_mod and G.GAME.SEMBY_blind_mod ~= 1.0 then
	blind_amt = math.max(0, math.floor(blind_amt * G.GAME.SEMBY_blind_mod + 0.5))
end
'''
match_indent = false
